@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-button: #f7f9ff;
        --color-background: #221f1f;
        --color-headerlist: #02206f;
    }
}

@layer components {
    .button {
        @apply bg-green-500 rounded-3xl text-3xl;
    }

    .hr::before {
        content: '';
        position: absolute;
        border: 1px solid black;
        width: 100%;
        bottom: 0;
    }

    .item-list {
        @apply bg-userBackground w-10/12 m-auto rounded-3xl p-2 text-xl;
    }

    .base-background::before {
        content: '';
        width: 500px;
        height: 500px;
        position: absolute;
        z-index: -1;
        left: 40px;
        bottom: 2px;
        border-radius: 50%;
        background: linear-gradient(142.77deg, #c8e6c9 15.84%, #b3e5fc 85.86%);
        opacity: 0.2;
    }
    .placeholder-black {
        color: black;
    }

    .base-background::after {
        content: '';
        width: 500px;
        height: 500px;
        position: absolute;
        right: 50px;
        top: 50px;
        z-index: -1;

        border-radius: 50%;
        background: linear-gradient(142.77deg, #c8e6c9 15.84%, #b3e5fc 85.86%);
        opacity: 0.2;
    }

    .char {
        transform: translateY(200px);
        transition: all 0.5s;
    }

    .p-gsap {
        transition: all 0.5s;
        opacity: 0;
    }

    .suave {
        transition: all 1s;
    }

    .form {
        @apply grid px-10 md:w-2/3 md:px-0 lg:max-w-3xl mx-auto font-bold gap-y-8 pb-20 lg:pb-0;
    }

    .input {
        @apply py-2 border-b focus:border-sky-500 outline-0 bg-transparent flex-grow;
    }

    .item-form {
        @apply flex items-center space-x-3;
    }

    .item-sidebar {
        @apply h-10 fill-none stroke-gray-700;
    }

    .title {
        @apply relative text-4xl text-center font-semibold p-12 mb-10 text-colorButton;
    }

    .modal {
        @apply flex-col border rounded-lg shadow fixed lg:absolute p-6 top-0 bg-slate-50 w-full lg:max-w-xl  lg:right-11 lg:-translate-x-1/2 lg:top-1/2 lg:-translate-y-1/2;
    }

    .button {
        @apply p-3 bg-colorButton rounded-lg text-white font-medium hover:bg-blue-900 active:bg-blue-800 focus:outline-none focus:ring focus:ring-blue-300 transition duration-150 ease-in-out;
    }

    .link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent),
            linear-gradient(#fff, #fff);
        background-size: 0 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size 0.5s ease-in-out;
    }

    .link-underline-black {
        background-image: linear-gradient(transparent, transparent),
            linear-gradient(#032582, #052786);
    }

    .link-underline:hover {
        background-size: 100% 3px;
        background-position: 0 100%;
    }

    .will-change-transform {
        will-change: transform;
    }

    .cursor::after {
        display: block;
        content: '';
        position: absolute;
        width: 4px;
        height: 100%;
        background-color: #fff;
        animation: cursor 0.6s linear infinite alternate;
        will-change: opacity;
    }

}
